body{
    /* background-image: linear-gradient(); */
    background-color: yellow;
    font-family: serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.results{
    display: flex;
    justify-content: center;
    align-items: center;
}
.result{
    background-color: rgba(44, 157, 161, 0.966);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 400px;
    width: 300px;
}

.result img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.buttons{
    display: flex;
    align-items: center;
justify-content: center;
}

.button{
    border: 0;
    background-color: rgb(168, 10, 10);
    border-radius: 4px;
    color: rgb(255, 250, 250);
    font-size: large;
    padding: 10px;
    margin: 10px;
    width: 300px;
}
.button:active{
    transform: scale(0.98);
}